<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>Bootstrap::SearchPaginate</title>
<link rel="stylesheet" href="/css/bootstrap.css" />
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>
</head>


<body onload="javascript: load()">

<div class="container-fluid">
    <div class="row-fluid">

        <div class="span12">
            <div class="navbar">
                <div class="navbar-inner">
                [% INCLUDE search_form.tt %]
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row-fluid">
                <div class="span3">[% INCLUDE tabs.tt %]</div>
                <div class="span9">[% content %]</div>
            </div>
        </div>

    </div>
</div>

</body>
</html>
