<form name="myForm" class="navbar-search pull-right">
    <div class="input-append">
        <input id="appendedInputButton" type="text">
        <button class="btn" type="button">Go!</button>
    </div>

    <input name="page" type="hidden" value="default" />
    <input name="per"  type="hidden" value="10" />
    <input name="curr" type="hidden" value="1" />
</form>
